<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>パスワード再設定</title>
</head>

<body>
	<div class="samuraitabelog-wrapper">
		<div th:replace="~{fragment :: header}"></div>
		<h1>新しいパスワードを入力してください</h1>
		<div th:if="${errorMessage}" class="alert alert-info">
			<span th:text="${errorMessage}"></span>
		</div>
		<form id="reset-password-form" th:action="@{/password/reset/confirm}" method="post"
			onsubmit="return validatePasswords()">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" name="token" th:value="${token}" />
			<input type="password" name="newPassword" placeholder="新しいパスワード" minlength="8" maxlength="16" required>
			<input type="password" name="confirmPassword" placeholder="確認用パスワード" minlength="8" maxlength="16" required>
			<button type="submit">パスワードを再設定する</button>
			<div id="error-message" style="color: red;"></div> <!-- エラーメッセージ表示用 -->
		</form>
		<div th:replace="~{fragment :: footer}"></div>
	</div>
	<div th:replace="~{fragment :: scripts}"></div>
	<script th:src="@{/js/passwordValidation.js}"></script>
</body>

</html>