<!DOCTYPE html>
<html>

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>有料会員登録成功</title>
	<title>Thanks for your order!</title>
	<link rel="stylesheet" href="style.css">
	<script src="client.js" defer></script>
</head>

<body>
	<div class="samuraitabelog-wrapper">
		<div th:replace="~{fragment :: header}"></div>
		<div th:if="${successMessage}" class="alert alert-info">
			<span th:text="${successMessage}"></span>
		</div>
		<div th:replace="~{fragment :: footer}"></div>
	</div>
	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>