<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>カテゴリ別一覧</title>
</head>

<body>
	<div class="samuraitabelog-wrapper">

		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container samuraitabelog-container pb-5">
				<div class="row justify-content-center">
					<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a th:href="@{/}">トップページ</a></li>
							<li class="breadcrumb-item active" aria-current="page">カテゴリ別一覧</li>
						</ol>
					</nav>

					<h1 class="text-center mb-4" th:text="${category.getName()} + '一覧'"></h1>

					<div class="col-xl-3 col-lg-4 col-md-12">
						<form method="get" th:action="@{/restaurants/category/__${category.getId()}__}" class="w-100 mb-3">
							<div class="input-group">
								<input type="text" class="form-control" name="keyword" th:value="${keyword}"
									placeholder="店舗名・目的地">
								<button type="submit" class="btn btn-primary">検索</button>
							</div>
						</form>

						<div class="mb-3" th:each="restaurant : ${restaurantPage}">
							<a th:href="@{/restaurants/__${restaurant.getId()}__}"
								class="link-dark samuraitabelog-card-link">
								<div class="card h-100">
									<div class="row g-0">
										<div class="col-md-4">
											<img th:if="${restaurant.imageName}"
												th:src="@{/storage/__${restaurant.imageName}__}"
												class="card-img-top samuraitabelog-horizontal-card-image" alt="店舗画像">
											<img th:unless="${restaurant.imageName}" th:src="@{/images/noImage.png}"
												class="card-img-top samuraitabelog-horizontal-card-image"
												alt="NO IMAGE">
										</div>
										<div class="col-md-8">
											<div class="card-body">
												<h3 class="card-title mb-3" th:text="${restaurant.name}"></h3>
												<hr class="mb-3">
												<p class="card-text mb-2">
													<span th:text="${restaurant.Description}"></span>
												</p>
												<p class="card-text mb-2">
													<small class="text-muted"
														th:text="${'〒' + restaurant.postalCode}"></small>
													<small class="text-muted" th:text="${restaurant.address}"></small>
												</p>
												<p class="card-text mb-2">
													<span th:text="${restaurant.price + '円'}"></span>
												</p>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>

						<!-- ページネーション -->
						<div th:if="${restaurantPage.totalPages > 1}" class="d-flex justify-content-center">
							<nav aria-label="カテゴリ別一覧">
								<ul class="pagination">
									<li class="page-item">
										<span th:if="${restaurantPage.isFirst()}" class="page-link disabled">前</span>
										<a th:unless="${restaurantPage.isFirst()}"
											th:href="@{'/restaurants/category/__${category.getId()}__(page = ${restaurantPage.number - 1}, keyword=' + ${keyword})}"
											class="page-link samuraitabelog-page-link">前</a>
									</li>
									<li th:each="i : ${#numbers.sequence(0, restaurantPage.totalPages - 1)}"
										class="page-item">
										<span th:if="${i == restaurantPage.number}"
											class="page-link active samuraitabelog-active" th:text="${i + 1}"></span>
										<a th:unless="${i == restaurantPage.number}"
											th:href="@{/restaurants/category/__${category.getId()}__(page = ${i}, keyword = ${keyword})}"
											class="page-link samuraitabelog-page-link" th:text="${i + 1}"></a>
									</li>
									<li class="page-item">
										<span th:if="${restaurantPage.isLast()}" class="page-link disabled">次</span>
										<a th:unless="${restaurantPage.isLast()}"
											th:href="@{/restaurants/category/__${category.getId()}__(page = ${restaurantPage.number + 1}, keyword = ${keyword})}"
											class="page-link samuraitabelog-page-link">次</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<!-- Bootstrap -->
	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>